<div class="grid">
  <div class="grid__item">
    {{ pages.hero-dyneema.content }}
  </div>

  <div class="grid grid__item centered-padded full-width">

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-its-true.content }}
    </div>

    <div class="grid__item padded">
      {{ pages.made-with-dyneema.content }}
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-destroy.content }}
    </div>

    <div class="grid__item centered no-padding">
      <div class="grid grid__item dyneema-tile dyneema-us-them">
        <video class="dyneema-video-bg" playsinline autoplay loop width="100%">
          <source src="{{ 'video-dyneema.webm' | asset_url }}" type="video/webm">
        </video>
        <img class="dyneema-video-gif" src="{{ 'video-dyneema.gif' | asset_url }}" alt="">
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-four-wonders.content }}
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-tools.content }}
    </div>

    <div class="grid__item padded">
      {{ pages.add-dyneema.content }}
    </div>

  </div>

</div>
