<div class="grid">
  <div class="grid__item">
    {{ pages.hero-product-landing-page.content }}
  </div>

  <div class="grid grid__item centered-padded">

    <div class="grid__item padded">
      {{ pages.knee-high-socks-product-tile.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.leg-sleeves-product-tile.content }}
    </div>
    <div class="grid__item large--one-half medium--one-half padded padded-half-second">
      {{ pages.arm-sleeves-product-tile.content }}
    </div>

    <div class="grid__item padded">
      {{ pages.crew-socks-product-tile.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.no-show-socks-product-tile.content }}
    </div>
    <div class="grid__item large--one-half medium--one-half padded padded-half-second">
      {{ pages.hat-product-tile.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.unisex-t-shirt-product-tile.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.racerback-tank-product-tile.content }}
    </div>

  </div>


</div>
