<div class="grid">
  <div class="grid__item">
    {{ pages.hero-compression-101.content }}
  </div>

  <div class="grid grid__item centered-padded full-width">

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-blood-flow.content }}
    </div>

    <div class="grid__item padded">

      <div class="tile-wrapper infographic diamond-infographic">
        <a href="prev" class="prev"><img src="{{'chevron-orange.png' | asset_url}}" width="16px" alt=""></a>
        <div class="diamond-slider">
          <ul class="slides">
            <li>
              <div class="slider-content">
                <h3 class="orange">Muscles</h3>
                <p>Lift heavy things for fun.</p>
              </div>
            </li>
            <li class="slider-content">
              <h3 class="orange">Veins</h3>
              <p>Removes used blood. Compression speeds this up.</p>
            </li>
            <li class="slider-content">
              <h3 class="orange">Heart, lung, liver & kidneys</h3>
              <p>Remove metabolic waste and replenish blood.</p>
            </li>
            <li class="slider-content">
              <h3 class="orange">Arteries</h3>
              <p>Deliver fresh blood to the muscles. Too much compression slows this down.</p>
            </li>
          </ul>
        </div>
        <a href="next" class="next"><img src="{{'chevron-orange.png' | asset_url}}" width="16px" alt=""></a>

        <div class="text-wrapper">
          <h3>Why?</h3>
          <p>Quick recap of freshman anatomy: Fresh blood delivers oxygen to your muscles. Old blood strips away metabolic waste (like lactic acid) that weighs them down. Compression speeds this process up, and keeps your muscles working at peak condition longer.</p>
        </div>
      </div>

    </div>

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-tighter.content }}
    </div>
    <div class="grid__item centered no-padding">
      
      <div class="tile-wrapper infographic goldilocks-infographic">
        <a href="prev" class="prev"><img src="{{ 'link-arrow-black-reverse.png' | asset_url }}" alt=""></a>
        <div class="goldilocks-slider">
          <ul class="slides">
            <li>
              <div class="slider-content">
                <img class="goldilocks-img" src="{{ 'just-right.png' | asset_url }}" alt="">
                <h3 class="orange">Just right</h3>
                <p>Perfectly balanced</p>
              </div>
            </li>
            <li>
              <div class="slider-content">
                <img class="goldilocks-img" src="{{ 'too-tight.png' | asset_url }}" alt="">
                <h3 class="orange">Too tight</h3>
                <p>Overcompensates</p>
              </div>
            </li>
            <li>
              <div class="slider-content">
                <img class="goldilocks-img" src="{{ 'too-loose.png' | asset_url }}" alt="">
                <h3 class="orange">Too loose</h3>
                <p>Underperforms</p>
              </div>
            </li>
          </ul>
        </div>
        <a href="next" class="next"><img src="{{ 'link-arrow-black.png' | asset_url }}" alt=""></a>

        <div class="text-wrapper">
          <h3>The Goldilocks Effect</h3>
          <p>Too tight and it cuts off the return of fresh blood. Too loose and it won't send blood back to the heart any faster. In short: compression should massage your muscles, not strangle them.</p>
        </div>
      </div>

    </div>
    <div class="grid__item centered no-padding">
      {{ pages.compression-101-measurement.content }}
    </div>
    <div class="grid__item centered no-padding">
      
      <div class="tile-wrapper infographic magic-numbers-infographic">
        <div class="content-wrapper">
          <div class="grid__item large--one-half medium--one-half small--one-whole img-container">
            <img src="{{ 'medical-grade-compression-sock.png' | asset_url }}" alt="medical grade compression sock" />
          </div>
          <div class="grid__item large--one-half medium--one-half text-wrapper">
            <h3>The Magic is in the numbers</h3>
            <p>Graduated compression works by slowly changing its strength (measured in mmHg) over the length of the sock or sleeve. Take a couple quick measurements and we maximize its effictiveness by fine tuning this process to your body.</p>
            <p><span>No measuring tape?</span> We can help you measure with a dollar bill and a pair of headphones.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="grid__item centered no-padding">
      {{ pages.compression-101-result.content }}
    </div>
  </div>

  <div class="grid grid__item centered-padded">
    <div class="grid__item padded">
      {{ pages.knee-high-socks-homepage.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.arm-sleeves-homepage.content }}
    </div>
    <div class="grid__item large--one-half medium--one-half padded padded-half-second">
      {{ pages.leg-sleeves-homepage.content }}
    </div>
  </div>

</div>
