<div class="grid">
  <div class="grid__item">
    {{ pages.hero-dyneema.content }}
  </div>

  <div class="grid grid__item centered-padded full-width">

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-its-true.content }}
    </div>

    <div class="grid__item padded">
      {{ pages.made-with-dyneema.content }}
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-destroy.content }}
    </div>

    <div class="grid__item centered no-padding">
      <div class="grid grid__item dyneema-tile dyneema-us-them">
        <div class="grid__item large--one-half medium--one-half dyneema-us">
          <div class="content-wrapper">
            <div class="text-wrapper">
              <h2>Us.</h2>
            </div>
          </div>
        </div>
        <div class="grid__item large--one-half medium--one-half dyneema-them">
          <div class="content-wrapper">
            <div class="text-wrapper">
              <h2>Them.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-four-wonders.content }}
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.dyneema-tools.content }}
    </div>

    <div class="grid__item padded">
      {{ pages.add-dyneema.content }}
    </div>

  </div>

</div>
