<div class="grid">
  <div class="grid__item">
    {{ pages.hero-compression-101.content }}
  </div>

  <div class="grid grid__item centered-padded full-width">

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-blood-flow.content }}
    </div>

    <div class="grid__item padded">
      <div class="grid tile-wrapper infographic diamond-infographic">
        <div class="grid__item large--two-thirds medium--two-thirds slider diamond-slider">
        <a href="prev" class="prev"><img class="prev-icon" src="{{'link-arrow-orange-reverse.png' | asset_url}}" alt=""></a>
          <ul class="slides">
            <li>
              <div class="slider-content">
                <h3 class="orange">Muscles</h3>
                <p>Lift heavy things for fun.</p>
              </div>
            </li>
            <li>
              <div class="slider-content">
                <h3 class="orange">Veins</h3>
                <p>Remove used blood. Compression speeds this up.</p>
              </div>
            </li>
            <li>
              <div class="slider-content">
                <h3 class="orange">Heart, lung, <br>liver & kidneys</h3>
                <p>Remove metabolic waste and replenish blood.</p>
              </div>
            </li>
            <li>
              <div class="slider-content">
                <h3 class="orange">Arteries</h3>
                <p>Deliver fresh blood to the muscles. Too much compression slows this down.</p>
              </div>
            </li>
          </ul>
          <img class=" small--hide diamond-infographic-img" src="{{'diamond-infographic.png' | asset_url}}" alt="">
          <a href="next" class="next"><img class="next-icon" src="{{'link-arrow-orange.png' | asset_url}}" alt=""></a>
        </div>

        <div class="grid__item large--one-third medium--one-third text-wrapper">
          <h3>Recap of freshman anatomy:</h3>
          <p>Fresh blood delivers oxygen to your muscles. Old blood strips away metabolic waste (like lactic acid) that weighs them down. Compression speeds this process up, and keeps your muscles working at peak condition longer.</p>
        </div>
      </div>

    </div>

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-tighter.content }}
    </div>

    <div class="grid__item centered no-padding">
      
      <div class="tile-wrapper infographic goldilocks-infographic">
        <div class="grid__item large--two-thirds large--right medium--two-thirds medium--right slider goldilocks-slider">
          <a href="prev" class="prev"><img class="prev-icon" src="{{ 'link-arrow-black-reverse.png' | asset_url }}" alt=""></a>
          <ul class="slides grid">
            <li class="grid__item large--one-third large--right medium--one-third medium--right">
              <div class="slider-content">
              <div class="too-loose-circle">
                <div class="inner-circle-1">
                  <div class="circle-text">
                    <h3>Competitor 2</h3>
                    <p>10H MMHG</p>
                  </div>
                </div>
              </div>
                <div class="text-wrapper text">
                  <h6>Too loose</h6>
                  <h6>Underperforms</h6>
                </div>
              </div>
            </li>
            <li class="grid__item large--one-third large--right medium--one-third medium--right">
              <div class="slider-content">
                <div class="just-right-circle">
                  <div class="inner-circle-1">
                    <div class="inner-circle-2">
                      <div class="circle-text">
                        <img class="hoplite-logo-circle" src="{{ 'hoplite-logo-circle.png' | asset_url }}" alt="">
                        <p>20H MMHG</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-wrapper text">
                  <h6>Just right</h6>
                  <h6>Perfectly balanced</h6>
                </div>
              </div>
            </li>
            <li class="grid__item large--one-third large--left medium--one-third medium--left">
              <div class="slider-content">
                <div class="too-tight-circle">
                  <div class="inner-circle-1">
                    <div class="inner-circle-2">
                      <div class="inner-circle-3">
                        <div class="circle-text">
                        <h3>Competitor 1</h3>
                        <p>30H MMHG</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-wrapper text">
                  <h6>Too tight</h6>
                  <h6>Overcompensates</h6>
                </div>
              </div>
            </li>
          </ul>
          <a href="next" class="next"><img class="next-icon" src="{{ 'link-arrow-black.png' | asset_url }}" alt=""></a>
        </div>

        <div class="grid__item large--one-third medium--one-third text-wrapper">
          <h3>The Goldilocks Effect</h3>
          <p>Too tight and compression cuts off the return of fresh blood. Too loose and it won't send blood back to the heart any faster. In short: compression should massage your muscles, not strangle them.</p>
        </div>
      </div>

    </div>

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-measurement.content }}
    </div>

    <div class="grid__item centered no-padding">
      <div class="tile-wrapper infographic magic-numbers-infographic">
        <div class="content-wrapper">
          <div class="grid__item large--one-half large--left medium--one-half medium--left small--one-whole img-container">
            <img src="{{ 'medical-grade-compression-sock.png' | asset_url }}" alt="medical grade compression sock" />
          </div>
          <div class="grid__item large--one-half large--right medium--one-half medium--right text-wrapper">
            <h3>Medical gradient compression</h3>
            <p>Compressing your muscles without knowing<br> their measurements is like turning a vice without knowing when to stop.</p>
            <p>That's why we use something called Medical Gradient Compression. It's a specific ratio of compression at three points on your body that maximizes the rate blood returns to your heart without slowing it down on the way back. It takes <br>a few extra minutes to measure, but it's the <br>only way to do it right.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-result.content }}
    </div>

    <div class="grid__item centered no-padding">
      <div class="tile-wrapper infographic familiar-infographic">
        <div class="grid__item large--one-half large--right medium--one-half medium--right slider familiar-slider">
          <a href="prev" class="prev"><img class="prev-icon" src="{{ 'link-arrow-black-reverse.png' | asset_url }}" alt=""></a>
          <ul class="slides">
            <li>
              <div class="slider-content text-wrapper text">
                <h6>Before</h6>
                <h2>Faster<br> warm up</h2>
              </div>
            </li>
            <li>
              <div class="slider-content text-wrapper text">
                <h6>During</h6>
                <h2>Reduced fatigue</h2>
              </div>
            </li>
            <li>
              <div class="slider-content text-wrapper text">
                <h6>After</h6>
                <h2>Faster recovery</h2>
              </div>
            </li>
          </ul>
          <a href="next" class="next"><img class="next-icon" src="{{ 'link-arrow-black.png' | asset_url }}" alt=""></a>
        </div>

        <div class="grid__item large--one-half large--left medium--one-half medium--left text-wrapper">
          <h3>Sound familiar?</h3>
          <p>Turns out, swapping old blood for new blood has some pretty noticable results. We don't agree with Lance, but we see where he was coming from.</p>
        </div>
      </div>

    </div>

    <div class="grid__item padded">
      {{ pages.add-compression.content }}
    </div>

  </div>

</div>
