<div class="grid">
  <div class="grid__item">
    {{ pages.hero-compression-101.content }}
  </div>

  <div class="grid grid__item centered-padded full-width">

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-blood-flow.content }}
    </div>

    <div class="grid__item padded">

      <div class="tile-wrapper diamond-infographic">
        <a href="prev" class="prev"><img class="chevron-left" src="{{'chevron-orange.png' | asset_url}}" width="16px" alt=""></a>
        <div class="diamond-slider">
          <ul class="slides">
            <li>
              <div class="slider-content">
                <h3 class="orange">Muscles</h3>
                <p>Lift heavy things for fun.</p>
              </div>
            </li>
            <li class="slider-content">
              <h3 class="orange">Veins</h3>
              <p>Removes used blood. Compression speeds this up.</p>
            </li>
            <li class="slider-content">
              <h3 class="orange">Heart, lung, liver & kidneys</h3>
              <p>Remove metabolic waste and replenish blood.</p>
            </li>
            <li class="slider-content">
              <h3 class="orange">Arteries</h3>
              <p>Deliver fresh blood to the muscles. Too much compression slows this down.</p>
            </li>
          </ul>
        </div>
        <a href="next" class="next"><img class="chevron-right" src="{{'chevron-orange.png' | asset_url}}" width="16px" alt=""></a>

        <div class="text-wrapper">
          <h3>Why?</h3>
          <p>Quick recap of freshman anatomy: Fresh blood delivers oxygen to your muscles. Old blood strips away metabolic waste (like lactic acid) that weighs them down. Compression speeds this process up, and keeps your muscles working at peak condition longer.</p>
        </div>
      </div>
    </div>

    <div class="grid__item centered no-padding">
      {{ pages.compression-101-tighter.content }}
    </div>
    <div class="grid__item centered no-padding">
      {{ pages.eerily-cold.content }}
    </div>
    <div class="grid__item centered no-padding">
      {{ pages.compression-101-measurement.content }}
    </div>
    <div class="grid__item centered no-padding">
      {{ pages.eerily-cold.content }}
    </div>
    <div class="grid__item centered no-padding">
      {{ pages.compression-101-result.content }}
    </div>
  </div>

  <div class="grid grid__item centered-padded">
    <div class="grid__item padded">
      {{ pages.knee-high-socks-homepage.content }}
    </div>

    <div class="grid__item large--one-half medium--one-half padded padded-half-first">
      {{ pages.arm-sleeves-homepage.content }}
    </div>
    <div class="grid__item large--one-half medium--one-half padded padded-half-second">
      {{ pages.leg-sleeves-homepage.content }}
    </div>
  </div>

</div>
